#table{
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    
    
    
   
}
tr,td:hover{
    background-color: brown;

}
#amarelo:hover{
    background-color: rgb(124, 180, 147);
}

td,tr{
    border: 1px, solid rgb(199, 30, 123);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    font-size: 25px;
    
    
}
body{
    color: rgb(0, 0, 0);
}
tr{
    text-align: left;
}
#nome{
    background-color: rgb(255, 15, 15);
    color:rgb(0, 0, 0)
}
#a
{
    background-color: red;
}
#amarelo{
    background-color: yellow;
}
